DEMO_EASEE.json
[{"id":"88d8ca40.7a0ee","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":140,"wires":[["20328d0d.31d662"]]},{"id":"ff2d0405.3704a8","type":"debug","z":"f94604f9.fb7f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1312,"y":400,"wires":[]},{"id":"20328d0d.31d662","type":"change","z":"f94604f9.fb7f98","name":"Token","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/accounts/token","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Accept: application/json\", \"Content-Type: application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"username\" : \"+491handynummer\" , \"password\" : \"EASEECLOUDPASSWORD\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["33e84a62.35bdb6"]]},{"id":"33e84a62.35bdb6","type":"http request","z":"f94604f9.fb7f98","name":"POST","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":140,"wires":[["6be57b43.8929fc"]]},{"id":"6db411e7.7be618","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":200,"wires":[["cd821b4d.7d3b78"]]},{"id":"cd821b4d.7d3b78","type":"change","z":"f94604f9.fb7f98","name":"Config","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/config","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":200,"wires":[["d0f68a4c.e956a"]]},{"id":"39028496.cc9de4","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 6-21 * * *","once":true,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":170,"y":260,"wires":[["1c8650c.e1a0faf"]]},{"id":"1c8650c.e1a0faf","type":"change","z":"f94604f9.fb7f98","name":"State","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/state","tot":"str"},{"t":"set","p":"header","pt":"msg","to":"EaseeAccessToken","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":260,"wires":[["d0f68a4c.e956a"]]},{"id":"b2798ac8.fe67d8","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":331,"wires":[["7ef2f63c.d35ae"]]},{"id":"7ef2f63c.d35ae","type":"change","z":"f94604f9.fb7f98","name":"1Phase","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/settings","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"phaseMode\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":609,"y":331,"wires":[["d0f68a4c.e956a"]]},{"id":"6bc7d3bd.ea884c","type":"json","z":"f94604f9.fb7f98","name":"Convert","property":"payload","action":"","pretty":true,"x":1149,"y":400,"wires":[["ff2d0405.3704a8","1d445ab7.96a7ed","c9576d5.f9b3b9"]]},{"id":"3b244e7.b71c9b2","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":468,"wires":[["3a806e72.393a7a"]]},{"id":"3a806e72.393a7a","type":"change","z":"f94604f9.fb7f98","name":"Start","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/commands/start_charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":468,"wires":[["d0f68a4c.e956a"]]},{"id":"2545f4f8.6ddac4","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":528,"wires":[["b354a3e4.0023a8"]]},{"id":"b354a3e4.0023a8","type":"change","z":"f94604f9.fb7f98","name":"Pause","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/commands/pause_charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":528,"wires":[["d0f68a4c.e956a"]]},{"id":"f0b773f5.d14e28","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":588,"wires":[["8b3b67d5.533fc"]]},{"id":"8b3b67d5.533fc","type":"change","z":"f94604f9.fb7f98","name":"Resume","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/commands/resume_charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":609,"y":588,"wires":[["d0f68a4c.e956a"]]},{"id":"24c1c6fd.7292b2","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":648,"wires":[["bfba2cbb.0c468"]]},{"id":"bfba2cbb.0c468","type":"change","z":"f94604f9.fb7f98","name":"Stop","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/commands/stop_charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":648,"wires":[["d0f68a4c.e956a"]]},{"id":"fdb7af99.2476a","type":"http request","z":"f94604f9.fb7f98","name":"http","method":"use","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":999,"y":400,"wires":[["6bc7d3bd.ea884c","7f49a96f.2dde58"]]},{"id":"94178033.31c738","type":"change","z":"f94604f9.fb7f98","name":"global.variable","rules":[{"t":"set","p":"EaseeBearerToken","pt":"global","to":"payload.accessToken","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":140,"wires":[["421b38f6.2962f8"]]},{"id":"6be57b43.8929fc","type":"json","z":"f94604f9.fb7f98","name":"Convert","property":"payload","action":"","pretty":true,"x":600,"y":140,"wires":[["94178033.31c738"]]},{"id":"d0f68a4c.e956a","type":"function","z":"f94604f9.fb7f98","name":"Header","func":"var MyBearerToken = global.get('EaseeBearerToken');\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \"+ (MyBearerToken); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":849,"y":400,"wires":[["fdb7af99.2476a"]]},{"id":"d974bbf9.12835","type":"inject","z":"f94604f9.fb7f98","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":400,"wires":[["6e2e27f9.2dbf1"]]},{"id":"6e2e27f9.2dbf1","type":"change","z":"f94604f9.fb7f98","name":"3Phase","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://api.easee.cloud/api/chargers/EHxxxxxx/settings","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"phaseMode\":3}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":609,"y":400,"wires":[["d0f68a4c.e956a"]]},{"id":"1d445ab7.96a7ed","type":"link out","z":"f94604f9.fb7f98","name":"Zur GUI","links":["59e08f58.63b1f8"],"x":1287,"y":460,"wires":[]},{"id":"e53aaf7a.bfe7c8","type":"link in","z":"f94604f9.fb7f98","name":"StopCharge","links":["734f212f.36f2b8"],"x":395,"y":620,"wires":[["bfba2cbb.0c468"]]},{"id":"3cdaeeda.8f5e32","type":"link in","z":"f94604f9.fb7f98","name":"ResumeCharge","links":["74d83d1c.97988c","b080ec2f.308478","b0863610.4f83f8","c0846228.66bb3","b6f8cf4a.4104a","82d809ac.5f6ea","32914ea3.db2e52","a29adc41.597d18","f6cc7383.10e57","2203113f.cacd2e","1f10f12c.73ffdf","40d8ce15.714eb"],"x":395,"y":560,"wires":[["8b3b67d5.533fc"]]},{"id":"69386ba3.ec92b4","type":"link in","z":"f94604f9.fb7f98","name":"PauseCharge","links":["e7229f00.3691a8","5d434b9.84cc634","ee3d42e0.989ea"],"x":395,"y":500,"wires":[["b354a3e4.0023a8"]]},{"id":"2dc0b82e.2bbff8","type":"debug","z":"f94604f9.fb7f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":540,"wires":[]},{"id":"c9576d5.f9b3b9","type":"change","z":"f94604f9.fb7f98","name":"outputCurrent","rules":[{"t":"set","p":"outputCurrent","pt":"global","to":"payload.outputCurrent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":540,"wires":[["2dc0b82e.2bbff8"]]},{"id":"421b38f6.2962f8","type":"debug","z":"f94604f9.fb7f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":140,"wires":[]},{"id":"7f49a96f.2dde58","type":"debug","z":"f94604f9.fb7f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":320,"wires":[]}]
