mqtt_beispiele.json
[{"id":"e46d5222.e7b5d8","type":"ui_chart","z":"126d8398.c20404","name":"","group":"f156624e.af52e","order":1,"width":0,"height":0,"label":"Jacuzzi","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":140,"wires":[[]]},{"id":"53263608.581d78","type":"mqtt in","z":"126d8398.c20404","name":"","topic":"/FHEM/temp/jacuzzi/temperature2","qos":"0","datatype":"utf8","broker":"f537118b.abb0b","x":200,"y":100,"wires":[["1bad60ad.4546af"]]},{"id":"7cca092a.cb4068","type":"ui_gauge","z":"126d8398.c20404","name":"Jacuzzi Test","group":"f156624e.af52e","order":2,"width":0,"height":0,"gtype":"gage","title":"Jacuzzi","label":"units","format":"{{value}}","min":"1","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":80,"wires":[]},{"id":"1bad60ad.4546af","type":"function","z":"126d8398.c20404","name":"Make Numeric","func":"msg.payload = Number(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":100,"wires":[["e46d5222.e7b5d8","7cca092a.cb4068"]]},{"id":"c5949578.f4f688","type":"mqtt in","z":"126d8398.c20404","name":"FHEM/#","topic":"/FHEM/#","qos":"2","datatype":"auto","broker":"f537118b.abb0b","x":120,"y":220,"wires":[["3efdf00c.a2c48"]]},{"id":"3efdf00c.a2c48","type":"debug","z":"126d8398.c20404","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":220,"wires":[]},{"id":"9088a393.58d2b8","type":"ui_button","z":"126d8398.c20404","name":"","group":"cc167e0f.c657f8","order":1,"width":"3","height":"1","passthru":true,"label":"Rauf","tooltip":"","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"shellies/shellyswitch25-692D02/roller/0/command","x":110,"y":340,"wires":[["9243ea20.81c49"]]},{"id":"83e40012.4ae19","type":"ui_button","z":"126d8398.c20404","name":"","group":"cc167e0f.c657f8","order":1,"width":"3","height":"1","passthru":true,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"shellies/shellyswitch25-692D02/roller/0/command","x":110,"y":380,"wires":[["9243ea20.81c49"]]},{"id":"1da7ca74.09b786","type":"ui_button","z":"126d8398.c20404","name":"","group":"cc167e0f.c657f8","order":1,"width":"3","height":"1","passthru":true,"label":"Runter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"close","payloadType":"str","topic":"shellies/shellyswitch25-692D02/roller/0/command","x":110,"y":420,"wires":[["9243ea20.81c49"]]},{"id":"9243ea20.81c49","type":"mqtt out","z":"126d8398.c20404","name":"Office OJ","topic":"shellies/shellyswitch25-692D02/roller/0/command","qos":"1","retain":"false","broker":"f537118b.abb0b","x":360,"y":360,"wires":[]},{"id":"bbbdba0d.125e18","type":"comment","z":"126d8398.c20404","name":"Lies mich","info":"In diesen Beispielen läuft der mqtt broker \"mosquitto\" ebenfalls auf dem NodeRED server.\nDie Einrichtung ist so leicht, dass sie hier nicht weiter erklärt ist.\n\nDer mosquitto broker kann auch auf einem anderen System laufen. Dann muss statt localhost die IP-Adresse einegtragen werden.\n\n","x":630,"y":260,"wires":[]},{"id":"f156624e.af52e","type":"ui_group","name":"Temperaturen","tab":"79c19db9.482c54","order":1,"disp":true,"width":"6","collapse":false},{"id":"f537118b.abb0b","type":"mqtt-broker","name":"localhost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"/","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cc167e0f.c657f8","type":"ui_group","name":"Office OJ","tab":"d2a75641.5d37c","order":1,"disp":true,"width":"4","collapse":false},{"id":"79c19db9.482c54","type":"ui_tab","name":"Datenlogger","icon":"dashboard","disabled":false,"hidden":false},{"id":"d2a75641.5d37c","type":"ui_tab","name":"Lichtschutz","icon":"fa-home","order":3,"disabled":false,"hidden":false}]